doctype html
html(ng-app="angularRecipes")
	head
		title Angular Recipes
		script(src="./components/angular/angular.js")
		script(src="./components/angular-route/angular-route.js")
		script(src="./js/app.js")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css")
		link(rel='stylesheet' href="./css/style.css")

	body(ng-controller="recipesCtrl as recipe")
		block content